.head{
	width: 100%;
	height: 79px;
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	display: block;
	z-index: 999;
}
.daohang{
	width: 1310px;
	height: 79px;
	margin: 0 auto;
}
.head-r{
	width: 602px;
	height: 79px;
	float: right;
}
.head-r li{
	float: left;
	width: 86px;
	height: 79px;
}
.head li a{
	width: 56px;
	height: 79px;
	padding: 0px 15px;
	font-size: 14px;
	line-height: 79px;
	color: #2a333c;
}

.head li a:hover{
	color: #62a8ea;
}






.zhuti{
	padding: 30px 0px;
	background-color: #f2f2f2;
	border-top: 1px solid #f0f2f5;
	width: 100%;
	height: 5379px; 
	margin-top: 79px; 
	/*margin-bottom: 20px;*/
}
.tit{
	width: 100%;
	height: 120px;
	text-align: center;
}
.tit h1{
	color: #f67a82;
	font-size: 35px;
	font-weight: 400;
	padding: 10px 30px;
	margin: 0 auto;
	width: 140px;
	height: 42px;
	text-align: center;
	line-height: 42px;
}
.tet{
	width: 100%;
	height: 5318px;
	padding: 30px 0px;
	border-top: 1px solid #f0f2f5;
}
.conl{
	position: absolute;
	left: 0;
	top: 0;
	width: 982.5px;
	height: 5318px;
	background-color: #fff;
}
.cent{
	width: 1280px;
	height: 5318px;
	padding: 0px 15px;
	margin: 0 auto;
	position: relative;
}

.conr{
	width: 257.5px;
	height: 314px;
	background-color: #fff;
	padding: 20px;
	margin-left: 30px;
	position: absolute;
	right: 0;
	top: 0;
}
.sousuo{
	width: 257.5px;
	height: 36px;
	margin: 0 auto;
	margin-bottom: 20px;
}
.sousuo  input{
	width: 195.5px;
	height: 22px;
	margin: 0px;
	padding: 6px 50px 6px 15px; 
	border:1px solid #e4eaec;
	font-size: 14px;
	color: #76838f;
	border-radius: 17px;
	position: relative;
}
.icon-sousuo{
	position: absolute;
	right: 30px;
	top: 30px;
	font-size: 14px;
	color: black;
}
.xia{
	width: 257.5px;
	height: 161px;
	padding:20px 0px;
	margin: 20px 0px;
	border-top:1px solid #e4eaec;
	border-bottom: 1px solid #e4eaec;
}
.xia h2{
	width: 257.5px;
	height: 21px;
	line-height: 1.2;
	color: #37474f;
	font-size: 18px;
	font-weight: 300px;
}
.xia ul{
	width:257px;
	height:130px;
    margin-top:10px;
    /*color: #2a333c; */
    margin-bottom: 40px; 
}
.xia li:nth-child(1){
	width: 225.5px;
	height: 22px;
	padding: 10px 15px;
	border:1px solid #e4eaec;
}
.xia li:nth-child(2){
	width: 225.5px;
	height: 22px;
	padding: 10px 15px;
	border-style: none;
	border-left: 1px solid #e4eaec;
	border-right: 1px solid #e4eaec; 
}
.xia li:nth-child(3){
	width: 225.5px;
	height: 22px;
	padding: 10px 15px;
	border:1px solid #e4eaec;
}
.xia li a{
	color: #2a333c;
}
.xia li a:hover,.xia a:hover{
	color: #62a8ea;
	text-decoration: underline;
	text-decoration-color: #62a8ea;
}
.s{
	display: block;
	width: 257.5px;
	height: 24px;
	margin-top: 11px;
	color: #2a333c;
}



.xian{
	width: 100%;
	height: 19px;
	border-top-style: solid;
	border-top-width:1px;
	border-top-color: #f0f2f5; 
}
.fo{
	width: 100%;
	height: auto;
	border-bottom-color: #f0f2f5;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	background-color: #f5f5f5;
	text-align: center;
	padding-bottom: 20px: 
}
.fo .ico{
	width: 100%;
	height: 46px;
	padding: 5px 0px;
	margin-top: 10px;
	line-height: 46px;
}
.ico .iconfont {
	font-size: 26px;
}
.ico p {
	width: 1280px;
	height: 25px;
	line-height: 1.8;
}
.fo  a{
	color: #62a8ea;
}
.fo  a:hover{
	text-decoration: underline;
	text-decoration-color: #62a8ea;
}
.fo div{
	width: 1280px;
	height: 25px;
	color: #aaaaaa;
	line-height: 1.8;
	margin: 0 auto;
}





.tou{
	width: 922.5px;
	height: 88px;
	padding: 30px 30px 0px 30px;
}
.tou h4{
	width: 922.5px;
	height: 38px;
	margin-bottom: 5px;
	font-weight: 400;
	line-height: 1.2;
	color: #37474f;
	font-size: 32px;
}
.tou .zuozhe1{
	color: #a3afb7;
	font-size: 16px;
	font-weight: 300;
	padding-bottom: 20px;
	border-bottom: 1px solid #f0f2f5;
}
.conl .duo{
	width: 922.5px;
	height: 5046px;
	padding: 30px;
}
.duo img{
	width: 922.5px;
	height: 518.91px;
}
.duo p{
	line-height: 1.8;
	font-size: 18px;
	color: #222;
	font-weight: 300;
	margin-bottom: 16px;
}
.ft{
	width: 922.5px;
	height: 64px;
	padding: 0px 30px 30px 30px;
}
.ft ul{
	width: 922.5px;
	height: 43px;
	border-top: 1px solid #f0f2f5;
	text-align: center;
	padding-top: 30px;
}
.ft>ul>li>a{
	display: block;
	width: 102px;
	height: 21px;
	padding: 10px 20px;
	border:1px solid #f0f2f5;
	border-radius: 21.5px;
	color: #76838f;
	font-size: 14px; 
	margin-right: 634.5px;
	float: left;
}
.ft .xiao{
	margin-right: 0px;
}